{% extends 'layouts/base.html' %} {% block title %}
  Users
{% endblock %}
{% block content %}
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Departments</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item">
                  <a href="#"><i class="fas fa-home"></i></a>
                </li>
                <li class="breadcrumb-item active">
                  <a href="#">Edit Departments</a>
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt-md-6">
    <div class="row">
      <div class="col-md-6 m-auto">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0 d-flex justify-content-between">
            <h3 class="mb-0">Edit Department</h3>
            {% if message %}
              <div class="alert alert-success">{{ message }}</div>
            {% endif %}
          </div>
          <div class="card-body">
            <form action="" method="POST">
              {% csrf_token %}
              <!-- Light table -->
              {{ form }}
              <!-- Card footer -->
              <button type="submit" class="btn btn-primary my-3">save</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %} {% block javascripts %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script></script>
{% endblock %}
