{% extends 'layouts/base.html' %}
{% block title %}
  Device history
{% endblock %}
{% block content %}
  <div class="container-fluid mt-6">
    <div class="row">
      <div class="col-xl-4 order-xl-2">
        <div class="card card-profile">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image"></div>
            </div>
          </div>
          <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
            <div class="d-flex justify-content-between">
              {% if device.status == 1 %}
                <a href="#" class="btn btn-sm btn-success mr-4">{{ device.status_name }}</a>
              {% elif device.status == 2 %}
                <i class="bg-info"></i>
                <a href="#" class="btn btn-sm btn-info mr-4">{{ device.status_name }}</a>
              {% elif device.status == 3 %}
                <a href="#" class="btn btn-sm btn-warning mr-4">{{ device.status_name }}</a>
              {% elif device.status == 4 %}
                <a href="#" class="btn btn-sm btn-danger mr-4">{{ device.status_name }}</a>
              {% endif %}
            </div>
          </div>
          <div class="card-body pt-0">
            <div class="text-center">
              <h5 class="h3">{{ device.service_tag }}</h5>
              <div class="h5 font-weight-300">Service Tag</div>
            </div>
            <div class="row">
              <div class="col">
                <div class="card-profile-stats d-flex justify-content-center">
                  <div>
                    <span class="heading">Catogry</span>
                    <span class="description">{{ device.catogry.name }}</span>
                  </div>
                  <div>
                    <span class="heading">Modal</span>
                    <span class="description">{{ device.modal.name }}</span>
                  </div>
                  <div>
                    <span class="heading">Store</span>
                    <span class="description">{{ device.store.name }}</span>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card-body">
                  <ul class="list-group">
                    <li class="list-group-item">created_at : {{ device.created_at }}</li>
                    <li class="list-group-item">last modify at : {{ device.ubdate_at }}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8 order-xl-1">
        <div class="card">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">History</h3>
              </div>
              <div class="col-4 text-right">
                
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="sort" data-sort="name">Device Status</th>
                    <th scope="col" class="sort" data-sort="budget">type</th>
                    <th scope="col" class="sort" data-sort="status">employee / departments / Maintenance shop</th>
                    <th scope="col">Users</th>
                    <th scope="col" class="sort" data-sort="completion">time</th>
                  </tr>
                </thead>
                <tbody class="list">
                  {% for val in device.history.all %}
                    <tr>
                      <th scope="row">
                        <span class="badge badge-dot mr-4">
                          <i class="bg-warning"></i>
                          <span class="status">{{ val.get_status_display }}</span>
                        </span>
                      </th>
                      <td class="budget">
                        {% if val.is_from %}
                          Receive from
                        {% elif val.is_to %}
                          Dlivery to
                        {% else %}
                          Change Status
                        {% endif %}
                        {{ val.get_type_display }}
                      </td>
                      <td>
                        {% if val.type == '1' %}
                          {{ val.employeeData.displayName }}
                        {% elif val.type == '2' %}
                          {{ val.store }}
                        {% elif val.type == '4' %}
                          {{ val.departDevice.departments.name }}
                          {% if val.status %}
                            ({% for devi in val.departDevice.office.all %}
                              {{ devi.name }} ,
                            {% endfor %})
                          {% endif %}
                        {% else %}
                          /
                        {% endif %}
                      </td>
                      <td>{{ val.created_by.username }}</td>
                      <td>{{ val.created_at }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block javascripts %}
{% endblock %}
